<h2>Publications </h2>

{% if page.googlescholar %}
  (see all on <a href="{{ page.googlescholar }}"><span style="color:gray">Google Scholar</span></a>).
{% endif %}

<ul>
{% for post in site.publications reversed %}
  {% if post.authors contains page.title %}

  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="y{{post.date | date: "%Y"}}"><span style="color:gray">{{ currentdate }}</span></h2>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    
    {% include archive-single-pub.html %}
  {% endif %}
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
