---
layout: compress
---

{% include base_path %}
{% include slider_styles.html %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% include slider_styles.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    </script>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    {% include slider_scripts.html %}

  </body>
</html>

<link rel="shortcut icon" type="image/png" href="/favicon.png">
